## Using DataFrames with Pandas

### Creating a DataFrame

In [25]:
import pandas as pd

certificates_earned = pd.DataFrame({
    'Certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})

certificates_earned.index = ['Tom', 'Kris', 'Ahmad', 'Beau']

certificates_earned

       Certificates  Time (in months)
Tom               8                16
Kris              2                 5
Ahmad             5                 9
Beau              6                12

### Getting data from DataFrame

#### Getting a column of the df

In [ ]:
certificates_earned['Certificates']

#### Getting booleans values for condition in a column

In [ ]:
certificates_earned['Certificates'] > 4

#### Using .loc[]

In [ ]:
print(certificates_earned.loc['Tom']) # printing just the "Tom" line (first one) with loc[]
print(certificates_earned.loc[certificates_earned['Certificates'] > 5]) # printing lines based on a boolean condition with loc[]

print(certificates_earned.loc[certificates_earned['Certificates'] > 5, 'Time (in months)']) # printing lines based on a boolean condition and what column should be showed with loc[]

#### Using .iloc[]

In [ ]:
print(certificates_earned.iloc[0]) # printing the first line with iloc[]

print(">Name:", certificates_earned.iloc[-1].name) # printing the last line's index's name with iloc[]
print(">Data Type:", certificates_earned.iloc[-1].dtype) # printing the last line's dtype with iloc[]

print(certificates_earned.iloc[0:2]) # printing the first an interval of lines with iloc[] (first and second lines)

### Removing data from DataFrame

#### Using .drop() to remove line by index(es)

In [ ]:
certificates_earned.drop('Tom') # dropping one row 

certificates_earned.drop(['Kris', 'Beau']) # dropping multiple rows
certificates_earned.drop(['Kris', 'Beau'], axis=0) # dropping multiple rows, specifying the "axis" (0 = row)
certificates_earned.drop(['Kris', 'Beau'], axis='rows') # dropping multiple rows, specifying the "axis"

#### Using .drop() to remove columns

In [ ]:
certificates_earned.drop(columns=['Certificates']) # dropping a column using the "columns" argument

certificates_earned.drop('Certificates', axis=1) # dropping a column specifying the "axis" (1 = column)
certificates_earned.drop('Certificates', axis='columns') # dropping a column specifying the "axis"

### Operations

In [ ]:
certificates_earned['Certificates'] + 2

In [ ]:
certificates_earned['Certificates'] - 2

In [ ]:
certificates_earned['Certificates'] * 2

In [ ]:
certificates_earned['Certificates'] / 2

In [ ]:
certificates_earned['Certificates'] ** 2

In [ ]:
certificates_earned['Certificates'] % 2

#### Operation with a Series

In [ ]:
crisis = pd.Series([10, 5], index=['Certificates', 'Time (in months)'])
certificates_earned[['Certificates', 'Time (in months)']] + crisis